.CustomerSection {
  background-color: $color_p1;
  padding: 50px 150px;

  h2 {
    font-size: 65px;
    line-height: 80px;
  }

  .right {
    p {
      font-size: 20px;
      max-width: 90%;
      margin-top: 10px;
    }
  }

  .wrap {
    display: flex;
  }

  @include respond-below(md) {
    padding: 50px 0;
    h2 {
      font-size: 45px;
      line-height: 50px;
      br {
        display: none;
      }
    }

    .left {
      position: relative;
      img {
        position: absolute;
        right: 0px;
        width: 150px;
        top: 50px;
        // display: none;
      }
    }

    .wrap {
      flex-direction: column;
      gap: 20px;
    }
  }
}
