.LoginScreen {
  //   background: linear-gradient(37deg, $color_p1 30%, $color_p3);
  background-color: black;
  //   min-height: 100dvh;
  position: relative;
  z-index: 10;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("/assets/images/women-bg.jpg");
    top: 0;
    left: 0;
    opacity: 0.35;
    background-size: cover;
    z-index: -1;
  }

  .contBox {
    display: flex;
    position: relative;
    z-index: 2;
    width: 100%;
    margin: 150px 0 100px 0;
    display: grid;
    grid-template-columns: 45% 55%;

    // background-color: red;

    @include respond-below(md) {
      //   grid-template-columns: 100%;
      display: flex;
      flex-direction: column-reverse;
    }

    .left {
      background-image: url("/assets/images/women-bg.jpg");

      background-size: cover;
      min-height: 500px;
      //   background-color: $color_p1;
      //   background: linear-gradient(37deg, $color_p2 15%, $color_p1);
    }

    .right {
      background-color: white;
      padding: 32px;
      color: $color_p1;

      form {
        display: flex;
        justify-content: space-between;
        height: 100%;
        flex-direction: column;
        gap: 50px;

        > div {
          display: flex;
          flex-direction: column;
          gap: 20px;
        }
      }
    }
  }
}

.googleBtn {
  border: 1px solid grey;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  //   color: black;
  cursor: pointer;

  &:hover {
    background-color: $color_p1;
    color: white;
  }
}

.opt {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: grey;
  span {
    color: $color_p1;
    cursor: pointer;
  }
}

.divider {
  display: flex;
  align-items: center;
  gap: 10px;
  hr {
    opacity: 1;
    border: none;
    background-color: rgb(163, 163, 163);
    height: 1px;
    width: 100%;
  }
}
