.SupportSection {
  background: rgb(52, 33, 61);
  background: linear-gradient(
    37deg,
    rgba(52, 33, 61, 1) 0%,
    rgba(28, 49, 96, 1) 34%
  );

  padding: 50px 0;

  .wrap {
    padding: 0 80px;
  }

  .cont {
    > div {
      margin-bottom: 24px;
    }
    > p {
      margin-bottom: 8px;
    }

    ul {
      margin-bottom: 24px;

      li {
        margin-left: 20px;
      }
    }
  }

  @include respond-below(lg) {
    .wrap {
      padding: 0;
    }
  }
}
