.Footer {
  padding: 30px 0;
  background-color: $color_p3;
  .top {
    display: flex;
    justify-content: space-between;

    @include respond-below(md) {
      flex-direction: column;
    }
    gap: 40px;
    padding-bottom: 40px;

    .left {
      p {
        margin: 24px 0;
        font-size: 22px;
        font-weight: 100;
      }
    }

    .right {
      display: flex;
      gap: 100px;
      h1 {
        font-size: 22px;
        // color: $color_p1;
      }

      .box {
        display: flex;
        flex-direction: column;
        gap: 10px;

        a {
          font-weight: 100;
          color: white;

          &:hover {
            color: $color_p2;
          }

          svg {
            font-size: 16px;
          }
        }
      }

      @include respond-below(sm) {
        flex-direction: column;
        gap: 30px;
      }
    }
  }

  .bottom {
    display: flex;
    justify-content: space-between;
    .links {
      * {
        color: rgb(176, 176, 176);
        font-size: 14px;
      }
      span {
        margin: 0 20px;
      }
    }
    @include respond-below(md) {
      flex-direction: column;
    }
  }
}

.contactItem {
  display: flex;
  gap: 13px;
  svg {
    font-size: 22px;
    // color: $color_p2;
  }

  p {
    font-size: 15px;
  }
}
